EmployeeMonitoringBE/emvenv/
EmployeeMonitoringBE/emvenv/*

EmployeeMonitoringBE/*.pyc
EmployeeMonitoringBE/__pycache__/

EmployeeMonitoringBE/instance/

EmployeeMonitoringBE/.pytest_cache/
EmployeeMonitoringBE/.coverage
EmployeeMonitoringBE/htmlcov/

EmployeeMonitoringBE/dist/
EmployeeMonitoringBE/build/
EmployeeMonitoringBE/.egg-info/

EmployeeMonitoringFE/node_modules/